Repository Andrey529/Food-Order-Picker, pull requests merged in 2022-06, with the labels that each got.

#30 feat(frontend): add interface and rename file and rename code, connect front with API
  Frontend/.idea/uiDesigner.xml
  Frontend/src/main/kotlin/App.kt
  Frontend/src/main/kotlin/ProductList.kt
  Frontend/src/main/kotlin/ProductPlayer.kt
  Frontend/src/main/kotlin/ReactShare.kt
  Frontend/src/main/kotlin/ReactYoutube.kt
  Frontend/src/main/kotlin/kotlinVideo/kotlinVideo.kt
  Frontend/src/main/kotlin/products/burgers/Burger.kt
  Frontend/src/main/kotlin/products/burgers/BurgerType.kt
  Frontend/src/main/kotlin/products/desserts/Dessert.kt
  Frontend/src/main/kotlin/products/desserts/DessertType.kt
  Frontend/src/main/kotlin/products/drinks/Drink.kt
  Frontend/src/main/kotlin/products/drinks/DrinkType.kt
Labels: enhancement, frontend

#31 feat(frontend): demo-web-app
  Frontend/src/main/kotlin/App.kt
  Frontend/src/main/kotlin/OrderList.kt
Labels: frontend

#32 Finish order controllers
  Backend/pom.xml
  Backend/src/main/kotlin/controllers/OrderControllers.kt
Labels: backend
